.photos__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

@media(max-width:1024px){
    .photos__grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 14px;
    }
}
@media(max-width:1023px){
    .photos__grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }
}
@media(max-width:767px){
    .photos__grid {
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }
}