.locations__name{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}
@media(max-width:1023px){
    .locations__name {
        font-size: 72px;
        line-height: 76px;
        max-width: 97.5%;
    }
}
@media(max-width:767px){
    .locations__name{
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    }
}
