.b-locations__name{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}
@media(max-width:767px){
    .b-locations__name{
        font-size: 32px;
        line-height: 35px;
    }
}
