.b-locations__meta span{
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;    
}
.b-locations__meta a{
    color:#fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.b-locations__meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}