.intro__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    max-width: 690px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media(max-width:1023px){
    .intro__text{
        line-height: 26px;
    }
}