.b-header__lang {
    font-weight: normal;
    font-size: 24px;
    font-style: normal;
    color: #fff;
    margin-left: 18px;
}

@media(max-width:767px){
    .b-header__lang{
        font-size: 18px;
    }
}