.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1184px;
    margin: 0 auto;
    align-items: center;   
}

@media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
    }
}

@media(max-width:320px){
    .footer{
        align-items: flex-start;
        padding-left: 16px;
        margin-top: 45px;
    }
}