.photos{
    margin: 0 auto;
    max-width: 1184px;
    width: 100%;
    margin-top: 92px;
    margin-bottom: 92px;
}
@media(max-width:1023px){
    .photos {
        max-width: 970px;
        margin-bottom: 50px;
    }
}

@media(max-width:767px){
    .photos{
        max-width: 288px;
        margin-top: 65px;
        margin-bottom: 65px;
    }
}