.b-locations{
    margin: 0 auto;
    max-width: 984px;
    width: 100%;
}
.b-locations__item{
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-gap: 40px;
    margin-bottom: 80px;
}
.b-locations__name{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}
.b-locations__image-wrap{
    width: 100%;    
}
.b-locations__image-wrap img{
    width: 100%;
}
.b-locations__meta span{
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;    
}
.b-locations__meta a{
    color:#fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.b-locations__meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.b-locations__desc{
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

@media(max-width:767px){
    .b-locations__item{
        grid-template-columns: 1fr;
    }
    .b-locations__name{
        font-size: 32px;
        line-height: 35px;
    }
    .b-locations__desc{
        font-size: 16px;
    }

}